@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background: rgb(255, 255, 255);
  overflow: hidden;
}
::selection{
  background: rgba(26,188,156,0.3);
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 70px auto;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper header{
    font-size: 35px;
    font-weight: 600;
    height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.wrapper form{
  padding: 10px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper .field{
    height: 40px;
    margin: 40px 0;
    display: flex;
    position: relative;
  }
.wrapper form .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
}
.wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
  }
.wrapper form .field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
  }

form .row input:focus{
  border-color: #289731;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #289731;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #289731;
  border: 1px solid #289731;
  cursor: pointer;
}
form .button input:hover{
  background: #289731;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #289731;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
form .btn button{
    padding: 10px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 18px;
}
form .btn button .prev{
    background: #eee;
}
form .btn button .next{
    background: #289731;
    color: #fff;
}