/* Start Global Rules */
  :root {
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
  }
/* Start Landing */
.landing {
    position: relative;
    padding: 70px;
  }
  .landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color:#ececec;
    z-index: auto;
    transform: skewY(-6deg);
    transform-origin: top left;
    
  }
  .landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
  }
  .landing .text {
    flex: 1;
    z-index: 1;
  }
  @media (max-width: 991px) {
    .landing .text {
      text-align: center;
    }
  }
  .landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
  }
  @media (max-width: 767px) {
    .landing .text h1 {
      font-size: 28px;
    }
  }
  .landing .text p {
    font-size: 23px;
    margin: 5px 0 0;
    color: #666;
  }
  @media (max-width: 991px) {
    .landing .text p {
      margin: 10px auto;
    }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image img {
  position: relative;
  width: 450px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  color:black;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
    color:rgb(99, 98, 98);
  }
  .landing .go-down i {
    animation: bouncing 1.5s infinite;
  }
  /* End Landing */